.label-list-container, .label-list-container * {
  font-family: Arial, sans-serif;
}


.label-list-container {
    margin-left: 20px;
    margin-right: 6px;
    height: 83px;
    overflow-y: auto;
    position: relative;
  }
  
  .label-list-container .ant-tag {
    margin-right: 4px; /* 调整右侧间距 */
  }
  
  
  /* 针对 WebKit 内核浏览器 (如 Chrome, Safari 等) */
  .label-list-container::-webkit-scrollbar {
    width: 4px; /* 调整滚动条的宽度 */
  }
  
  .label-list-container::-webkit-scrollbar-track {
    border-radius: 10px; /* 去掉边框 */
  }
  
  .label-list-container::-webkit-scrollbar-thumb {
    background-color: #f3f3f3; /* 滚动条滑块的颜色，调淡一些 */
    border-radius: 10px; /* 去掉边框 */
    border: none; /* 确保没有边框 */
  }
  
  .label-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c0; /* 滑块在 hover 时的颜色 */
  }
  